:root {
  --pal1-a: #33313B;
  --pal1-b: #4592AF;
  --pal1-c: #E3C4A8;
  --pal1-d: #F6F5F5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pal1-a);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}


@font-face {
  font-family: "font-birney";
  src: url("./assets//fonts/birney-font/Birney-dgox.ttf") format("truetype");
}
@font-face {
  font-family: "font-palo-alto";
  src: url("./assets/fonts/palo-alto/Palo_Alto_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "font-quicksand";
  src: url("./assets/fonts/quicksand/Quicksand-Regular.otf") format("opentype");
}
@font-face {
  font-family: "font-montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}

.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.496);
  backdrop-filter: blur(13px);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: rgba(26, 24, 24, 0.132);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 37, 37);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(73, 67, 67);
  ;
  /* border-radius: 10px; */
}