:root {
  --pal1-a: #33313B;
  --pal1-b: #4592AF;
  --pal1-c: #E3C4A8;
  --pal1-d: #F6F5F5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pal1-a);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}


@font-face {
  font-family: "font-birney";
  src: url("./assets//fonts/birney-font/Birney-dgox.ttf") format("truetype");
}
@font-face {
  font-family: "font-palo-alto";
  src: url("./assets/fonts/palo-alto/Palo_Alto_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "font-quicksand";
  src: url("./assets/fonts/quicksand/Quicksand-Regular.otf") format("opentype");
}
@font-face {
  font-family: "font-montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
