/* section intensive class */
.section-intensive-class {
    width: 100vw;
    height: auto;
    padding-block: 44px;
    /* border-top-right-radius: 5%; */
    /* border-top-left-radius: 5%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--pal1-d);

}
.section-title{
    margin-block: 29px;
    /* margin-left: 20px; */
    /* box-sizing: border-box; */
    font-size: 39px;
    color: var(--pal1-a);
    font-family: "font-montserrat";
    font-weight: 900;
    letter-spacing: 1.6px;
    /* background-color: aqua; */
    text-align: center;
}
@media screen and (max-width: 580px){
    .section-title{
        font-size: 29px;
    }
}
.class-card-deck{
    width: 95%;
    /* height: 100% !important; */
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--pal1-d);
    /* margin-block: 20px; */
    overflow-x: auto !important;
}
/* .grid-item{
    background-color: blueviolet;
} */
.class-card{
    /* background-color: var(--pal1-a); */
    border: 2px solid var(--pal1-a);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}
@media screen and (max-width: 580px) {
    .class-card {
        width: 90%;
    }
}

/* @media screen and (max-width: 1370px){

    .class-card{
        width: 500px;
    }
}
@media screen and (max-width: 1200px) {


    .class-card {
        width: 400px;
        height: 50vh;
    }
}
@media screen and (max-width: 900px) {
    .section-intensive-class {
        height: 150vh;
    }
} */

.module-summary{
    display: flex;
    flex-direction: column;
}
.class-card-title{
    font-size: 32px;
    font-family: "font-montserrat";
    margin: 30px;
}
@media screen and (max-width: 580px) {
    .class-card-title {
        font-size: 24px;
    }
}

.class-card-infos{
    box-sizing: border-box;
    padding-block: 20px;
}
.class-card-info-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-inline: 30px;
    margin-block: 10px;
}
.class-card-info-item-img{
    height: 30px;
    width: 30px;
    margin-right: 16px;
}

@media screen and (max-width: 580px) {
    .class-card-info-item-text {
        font-size: 14px;
    }
    .class-card-info-item-img {
        height: 20px;
        width: 20px;
        margin-right: 16px;
    }
}