.section-resources{
    width: 98.93vw;
    background-color: var(--pal1-d);
    padding-block: 20px;

    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-resource-title{
    font-size: 19px;
    font-family: "font-montserrat";
    margin-bottom: 48px;
    letter-spacing: 1.7px;
    font-weight: 600;
}
.resources-card-deck{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    row-gap: 20px;
    width: 100%;
}
.resources-img{
    height: 70px;
}
/* .grid-item{
    border: 1px solid black;
} */
.grid-git{
    height: 40px;
}