.rfq-wrap {
    display: flex;
    margin-block: 80px;
    width: 60vw;
}
.rfq-title {
    font-size: 3.5vw;
    font-family: "font-montserrat";
    color: var(--pal1-d);
    margin-top: 50px;
    margin-bottom: 20px;
    align-self: start;
    margin-left: 30px;
    font-weight: 600;
}
.request-for-quote-img {
    height: 200px;
    width: 220px;
}
.rfq-title-span {
    color: var(--pal1-c);
    cursor: pointer;
}

.rfq-title-span:hover {
    color: var(--pal1-b);
}

.rfq-title-span:active {
    color: var(--pal1-c);
}
@media screen and (max-width: 741px) {
    .rfq-wrap {
        flex-direction: column;
        align-items: center;
    }

    .rfq-title {
        font-size: 4vw;
    }

}