/* section intensive class */
.section-services {
    width: 98.93vw;
    height: 83vh;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--pal1-b);
}
.service-card-deck{
    width: 80%;
    /* background-color: antiquewhite; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 30px;
    column-gap: 0px;
    grid-auto-rows: 50vh;
}
@media (max-width: 1200px){
    .service-card-deck{
        column-gap: 20px;
    }
}
@media (max-width: 900px) {
    .service-card-deck{
        grid-auto-rows:40vh;
        
        /* Set the height to 20px when the screen width is less than 400px */
    }
}

.grid-item{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.service-card{
    width: 459px;
    height: 80%;
    border-radius: 9px;
    /* border-top-right-radius: 10%;
    border-top-left-radius: 10%; */
    /* background-color: var(--pal1-a); */
    /* border: 2px solid var(--pal1-a); */

    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 900px) {
    .service-card {
        border-radius: 10px;
        width: 350px;
    } 
}

.card-cap-img{
    height: 130px;
    filter: invert(90%);
    cursor: pointer;
}
.card-title{
    height: 60px;
    font-size: 30px;
    font-family: "font-montserrat";
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: var(--pal1-d);
}
.card-info{
    font-size: 15px;
    font-family: "font-montserrat";
    text-align: center;
    font-weight: 600;
    /* margin-top: 10px; */
    color: var(--pal1-d);
}
@media (max-width: 900px) {
    .card-cap-img{
        height: 100px;
    }
    .card-title{
        font-size: 28px;
    }
}
