.custom-navbar{
    width: 98.93vw;
    height: 10vh;

    /* background-color: aliceblue; */

    display: grid;
    grid-template-columns: 15% 75% 10%;
    z-index: 10;
}
@media screen and (max-width:1200px) {
    .custom-navbar{
        grid-template-columns: 25% 65% 10%;
        /* background-color: antiquewhite; */
    }
}

.navbar-div{
    display: flex;
    align-items: center;
}
.navbar-div-logo{
    justify-content: end;
}
.navbar-div-links {
    justify-content: end;
}
.navbar-div-links > * {
    margin-right: 20px;
}
.navbar-div-button {
    justify-content: start;
}

.navbar-anchors{
    color: var(--pal1-d)
}

.anchor-logo{
    font-family: "font-palo-alto";
    font-family: "font-birney";
    font-size: 30px;
    cursor: pointer;
}

.anchor-link{
    padding-inline: 13px;
    padding-block: 10px;
    border-radius: 3px;

    font-family: "font-quicksand";
    font-family: "font-montserrat";
    font-size: 15.9px;
    font-weight:500;
    letter-spacing: 1px;

    transition: 0.1s;
    cursor: pointer;
}
.anchor-link:hover{
    /* background-color: var(--pal1-c); */
    /* color: var(--pal1-a); */
    font-weight: 700;
}

.anchor-button{
    padding-inline: 13px;
    padding-block: 10px;
    border-radius: 3px;

    font-family: "font-quicksand";
    font-size: 15.9px;
    font-weight: 600;
    letter-spacing: 1px;

    background-color: var(--pal1-c);
    color: var(--pal1-a);

    transition: 0.3s;
    cursor: pointer;
}
.anchor-button:hover{
    background-color: var(--pal1-d);
}
.anchor-button:active{
    background-color: var(--pal1-a);
}
@media screen and (max-width:1200px) {

    .anchor-button {
        padding-inline: 10px;
        font-size: 12.9px;
        letter-spacing: 0px;
        padding-block: 10px;
    }
    .anchor-link{
        padding-inline: 10px;
        font-size: 12.9px;
    }
}

@media screen and (max-width:850px) {
    .custom-navbar {
        grid-template-columns: 25% 62% 13%;
    }
    .anchor-button{
        padding-inline: 10px;
        font-size: 12.9px;
        letter-spacing: 0px;
        padding-block: 10px;
    }
}

.layers{
    display: flex;
    flex-direction: column;
}

.burger{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px;
}
.burger-span{
    width: 35px;
    height: 5px;
    background-color: var(--pal1-c);
    margin-block: 3px;
}

@media screen and (max-width:740px) {
    .custom-navbar {
        grid-template-columns: 25% 59% 13%;
        /* background-color: rgb(67, 52, 33); */
    }

    .anchor-logo {
        font-family: "font-palo-alto";
        font-family: "font-birney";
        font-size: 25px;
    }
    .burger{
        margin-right: 0px;
        justify-content: end;
        /* background-color: aliceblue ; */
    }
}

@media screen and (max-width:610px) {
    
    .custom-navbar {
            grid-template-columns: 29% 57% 13%;
            width: 100vw;
            /* background-color: bisque; */
    }

}