.custom-navbar{
    width: 98.93vw;
    height: 10vh;

    /* background-color: aliceblue; */

    display: grid;
    grid-template-columns: 15% 75% 10%;
    z-index: 10;
    padding-top: 8px;
}
@media screen and (max-width:1200px) {
    .custom-navbar{
        grid-template-columns: 20% 70% 10%;
        /* background-color: antiquewhite; */
    }
}

.navbar-div{
    display: flex;
    align-items: center;
}
.navbar-div-logo{
    justify-content: end;
}
.navbar-div-links {
    justify-content: end;
}
.navbar-div-links > * {
    margin-right: 20px;
}
.navbar-div-button {
    justify-content: start;
}

.navbar-anchors{
    color: var(--pal1-d)
}

.anchor-logo{
    font-family: "font-palo-alto";
    font-family: "font-birney";
    font-size: 30px;
    cursor: pointer;
}

.anchor-link{
    padding-inline: 13px;
    padding-block: 10px;
    border-radius: 3px;

    font-family: "font-quicksand";
    font-family: "font-montserrat";
    font-size: 15.9px;
    font-weight:500;
    letter-spacing: 1px;

    transition: 0.1s;
    cursor: pointer;
}
.anchor-link:hover{
    /* background-color: var(--pal1-c); */
    /* color: var(--pal1-a); */
    font-weight: 700;
}

.anchor-button{
    padding-inline: 13px;
    padding-block: 10px;
    border-radius: 3px;

    font-family: "font-quicksand";
    font-size: 15.9px;
    font-weight: 600;
    letter-spacing: 1px;

    background-color: var(--pal1-c);
    color: var(--pal1-a);

    transition: 0.3s;
    cursor: pointer;
}
.anchor-button:hover{
    background-color: var(--pal1-d);
}
.anchor-button:active{
    background-color: var(--pal1-a);
}
@media screen and (max-width:1200px) {

    .anchor-button {
        padding-inline: 10px;
        font-size: 12.9px;
        letter-spacing: 0px;
        padding-block: 10px;
    }
    .anchor-link{
        padding-inline: 10px;
        font-size: 12.9px;
    }
}

@media screen and (max-width:850px) {
    .custom-navbar {
        grid-template-columns: 25% 62% 13%;

    }
    .anchor-button{
        padding-inline: 10px;
        font-size: 12.9px;
        letter-spacing: 0px;
        padding-block: 10px;
    }
}

.layers{
    display: flex;
    flex-direction: column;
}

.burger{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    position: relative;
    z-index: 15;
}
.burger-bar-slider {
    width: 60vw;
    /* height: 400px; */
    padding: 15px;
    background-color: rgba(47, 49, 49, 0.847);
    position: fixed;
    top: 0;
    right:-300px;
    backdrop-filter: blur(13px);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(21, 20, 20, 0.631);
    /* right: -100px; */
    z-index: 50;
    transition: 0.3s;
}
.slider-close-img{
    height: 20px;
    width: 20px;
    align-self: end;
    filter: invert(80%);
    opacity: 70%;
}
.bar-slider-menu{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.anchor-link-slider {
    padding-inline: 13px;
    padding-block: 18px;
    border-radius: 3px;

    font-family: "font-montserrat";
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;

    transition: 0.1s;
    cursor: pointer;
}
.anchor-link-slider:hover {
    /* background-color: var(--pal1-c); */
    /* color: var(--pal1-a); */
    font-weight: 700;
}
.anchor-button-slider {
    align-self: center;
    width: 30vw;
    margin-top: 20px;
    padding-inline: 18px;
    padding-block: 10px;
    border-radius: 3px;

    font-family: "font-quicksand";
    font-size: 15.9px;
    font-weight: 600;
    letter-spacing: 1px;

    background-color: var(--pal1-c);
    color: var(--pal1-a);

    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}
.burger-span{
    width: 35px;
    height: 5px;
    background-color: var(--pal1-c);
    margin-block: 3px;
}
.slider-show{
    top: 0;
    right: 0;
}

@media screen and (max-width:740px) {
    .custom-navbar {
        grid-template-columns: 25% 59% 13%;
        /* background-color: rgb(67, 52, 33); */
    }

    .anchor-logo {
        font-family: "font-palo-alto";
        font-family: "font-birney";
        font-size: 25px;
    }
    .burger{
        margin-right: 0px;
        justify-content: center;
        /* background-color: aliceblue ; */
    }
}

@media screen and (max-width:610px) {
    
    .custom-navbar {
            grid-template-columns: 29% 54% 15%;
            width: 100vw;
            /* background-color: bisque; */
    }
    .anchor-logo {
        font-family: "font-palo-alto";
        font-family: "font-birney";
        font-size: 16px;
    }

}

@media screen and (max-width:300px) {
    .anchor-logo {
        font-family: "font-palo-alto";
        font-family: "font-birney";
        font-size: 13px;
    }
}



